* {
  padding: 0;
  margin: 0;
  font-family: "Alice", serif;
  line-height: 150%;
}

body {
  background: url(/assets/bg-image.png) no-repeat;
  background-color: #573824;
  background-size: cover;
}

#container {
  width: 800px;
  margin: 48px auto;
  background-color: #f0e8c2;
  border-radius: 24px;
  padding: 24px;
  box-sizing: border-box;
}

#container img {
  width: 752px;
  height: 400px;
  border-radius: 16px;
}

main {
  padding: 24px;
}

#about,
#ingredients {
  margin-bottom: 24px;
}

main h1 + p {
  padding-bottom: 12px;
}

main h1 {
  font-size: 40px;
  line-height: 140%;
  color: #291b1a;
  margin-bottom: 4px;
  font-weight: lighter;
}

main h2 {
  font-size: 24px;
  color: #291b1a;
  margin-bottom: 4px;
  font-weight: lighter;
}

main p,
li {
  font-size: 16px;
  color: #573a37;
}

li {
  margin-left: 25px;
}

footer,
a {
  color: #f0e8c2;
  text-decoration: none;
  padding-bottom: 48px;
  text-align: center;
}
